.footer {
  padding: 50px 0 50px;
  background-color: $white;

  @include medium-up {
    padding: 60px 0 100px;
  }

  & .flex {
    flex-direction: column;
    align-items: flex-start;

    @include medium-up {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__logo {
    & p {
      font-size: 14px;
      margin-top: 8px;
    }
  }

  &__text {
    & p {
      font-size: $font-size-7;
      margin-top: 10px;

      @include medium-up {
        text-align: right;
      }
    }
  }
}
