.showcase {
  background: url("/img/showcase.png");
  background-size: cover;
  padding: 125px 0 184px;

  @include medium-up {
    padding: 142px 0 219px;
  }

  & .flex {
    align-items: flex-start;
    flex-direction: column;

    & h1 {
      color: $white;
      margin-bottom: 18px;

      @include medium-up {
        margin-bottom: 27px;
        width: 65%;
      }
    }

    p {
      color: $white;
      font-size: $font-size-6;
      font-weight: $font-weight-medium;
      line-height: $line-height-sm;
      margin-bottom: 48px;

      @include medium-up {
        font-size: $font-size-5;
        line-height: $line-height-base;
        margin-bottom: 32px;
        width: 65%;
      }
    }
  }
}

.company {
  padding: 36px 0;

  @include medium-up {
    padding: 73px 0;
  }

  & .company-img {
    margin-left: auto;
    margin-right: auto;
  }

  & .grid {
    gap: 36px;
    grid-template-columns: 1fr;

    @include medium-up {
      gap: unset;
      grid-template-columns: 55% 45%;
    }
  }

  &__content {
    align-self: flex-start;

    &-paragraph {
      @include font-15;
      margin: 22px 0 16px;

      @include medium-up {
        @include font-18;
        margin: 45px 0 4px;
        width: 90%;
      }
    }

    &-item {
      align-items: center;
      display: flex;
      margin-top: 32px;

      @include medium-up {
        margin-top: 50px;
        width: 70%;
      }

      & img {
        height: 100%;
        margin-right: 19px;
      }

      &-label {
        display: block;
        font-weight: $font-weight-bold;
        margin-bottom: 6px;

        @include font-18;
      }

      p {
        @include font-15;
      }
    }

    a {
      margin-top: 36px;
      @include medium-up {
        margin-top: 54px;
      }
    }

    h2 {
      width: 50%;

      @include medium-up {
        width: 100%;
      }
    }
  }

  &__about {
    background: url("/img/about-1.png");
    background-size: cover;
    color: $white;
    display: block;
    min-height: 284px;
    padding: 52px 15px;

    @include medium-up {
      display: none;
    }
  }
}

.about {
  background: url("/img/about-background.png");
  background-size: cover;
  color: $white;
  margin-top: 150px;
  padding-bottom: 38px;

  @include medium-up {
    padding-bottom: 114px;
  }

  &__top {
    min-height: 284px;
    padding: 52px 15px;
    margin-top: -142px;

    @include medium-up {
      padding: 52px;
    }

    &--left {
      display: none;

      @include medium-up {
        display: block;
        background: url("/img/about-1.png");
      }
    }

    &--right {
      background: url("/img/about-2.png");
      background-size: cover;
    }

    &-number {
      font-size: $font-size-1;
      line-height: 64px;
      font-weight: $font-weight-bold;
    }

    &-heading {
      font-weight: $font-weight-bold;
      margin: 11px 0 6px;

      @include font-18;
    }

    &-content {
      @include font-15;

      @include medium-up {
        width: 75%;
      }
    }
  }

  &__heading {
    text-align: center;
    margin-top: 42px;

    @include medium-up {
      margin-top: 91px;
    }
  }

  &__grid {
    &--top {
      @include medium-up {
        gap: 30px;
      }
    }

    &--bottom {
      grid-template-columns: 1fr;
      margin-top: 42px;

      @include medium-up {
        grid-template-columns: repeat(2, 1fr);
        margin-top: 92px;
      }

      @include large-up {
        grid-template-columns: repeat(4, 1fr);
      }
    }

    &-item {
      position: relative;
      background-color: $white;
      padding: 40px 81px 40px 80px;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-bottom-right-radius: 20px;

      @include medium-up {
        padding: 46px 27px 46px 28px;
      }

      &:nth-child(2) {
        padding: 40px 79px 40px 79px;

        @include medium-up {
          padding: 46px 24px 46px 25px;
        }
      }

      &-btn {
        align-items: center;
        background-color: $gray-dark;
        border-bottom-right-radius: 20px;
        bottom: 0;
        cursor: pointer;
        display: flex;
        height: 64px;
        justify-content: center;
        position: absolute;
        right: 0;
        width: 64px;
      }

      &-label {
        color: $blue-primary;
        font-weight: $font-weight-bold;
        text-align: center;

        @include font-18;
      }

      & p {
        color: $gray-dark;
        text-align: center;
        margin: 6px 0 44px;

        @include font-15;
      }
    }
  }
}
