.navigation {
  &--desktop {
    display: none;

    @include medium-up {
      display: block;

      & ul {
        display: flex;
      }

      & a {
        color: $gray-dark;
        font-weight: $font-weight-medium;
        margin: 0 33px;
        padding-bottom: 36px;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          top: 100%;
          left: 0;
          width: 0;
          height: 8px;
          background-color: $blue-primary;
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;
          transition: width 0.15s ease-in;
        }

        &:hover {
          color: $blue-primary;

          &::after {
            width: 100%;
          }
        }
      }
    }
  }
}
